<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>PesquisaCursoController</servlet-name>
        <servlet-class>controller.PesquisaCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaBolsaController</servlet-name>
        <servlet-class>controller.PesquisaBolsaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaEditalController</servlet-name>
        <servlet-class>controller.PesquisaEditalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <servlet-class>controller.PesquisaFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCursoController</servlet-name>
        <servlet-class>controller.ManterCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterEditalController</servlet-name>
        <servlet-class>controller.ManterEditalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCandidatoController</servlet-name>
        <servlet-class>controller.ManterCandidatoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterBolsaController</servlet-name>
        <servlet-class>controller.ManterBolsaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <servlet-class>controller.ManterFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFormularioController</servlet-name>
        <servlet-class>controller.PesquisaFormularioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFormularioController</servlet-name>
        <servlet-class>controller.ManterFormularioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TratamentoExcecao</servlet-name>
        <servlet-class>exception.TratamentoExcecao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>relatorioCurso</servlet-name>
        <servlet-class>controller.relatorioCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>relatorioAlunoFuncionario</servlet-name>
        <servlet-class>controller.relatorioAlunoFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>relatorioBolsa</servlet-name>
        <servlet-class>controller.relatorioBolsa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>relatorioCandidato</servlet-name>
        <servlet-class>controller.relatorioCandidato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>relatorioEditalBolsa</servlet-name>
        <servlet-class>controller.relatorioEditalBolsa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>relatorioEdital</servlet-name>
        <servlet-class>controller.relatorioEdital</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>relatorioFormulario</servlet-name>
        <servlet-class>controller.relatorioFormulario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>relatorioFuncionarioEdital</servlet-name>
        <servlet-class>controller.relatorioFuncionarioEdital</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>relatorioFuncionario</servlet-name>
        <servlet-class>controller.relatorioFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>relatorioFuncionarioCurso</servlet-name>
        <servlet-class>controller.relatorioFuncionarioCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>relatorioCursoPar</servlet-name>
        <servlet-class>controller.RelatorioCursoPar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaParametroCursoController</servlet-name>
        <servlet-class>controller.PesquisaParametroCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioAgrupamentoCursoFuncController</servlet-name>
        <servlet-class>controller.RelatorioAgrupamentoCursoFuncController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaCursoController</servlet-name>
        <url-pattern>/PesquisaCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaBolsaController</servlet-name>
        <url-pattern>/PesquisaBolsaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaEditalController</servlet-name>
        <url-pattern>/PesquisaEditalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <url-pattern>/PesquisaFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCursoController</servlet-name>
        <url-pattern>/ManterCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterEditalController</servlet-name>
        <url-pattern>/ManterEditalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCandidatoController</servlet-name>
        <url-pattern>/ManterCandidatoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterBolsaController</servlet-name>
        <url-pattern>/ManterBolsaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <url-pattern>/ManterFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFormularioController</servlet-name>
        <url-pattern>/PesquisaFormularioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFormularioController</servlet-name>
        <url-pattern>/ManterFormularioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TratamentoExcecao</servlet-name>
        <url-pattern>/TratamentoExcecao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>relatorioCurso</servlet-name>
        <url-pattern>/relatorioCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>relatorioAlunoFuncionario</servlet-name>
        <url-pattern>/relatorioAlunoFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>relatorioBolsa</servlet-name>
        <url-pattern>/relatorioBolsa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>relatorioCandidato</servlet-name>
        <url-pattern>/relatorioCandidato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>relatorioEditalBolsa</servlet-name>
        <url-pattern>/relatorioEditalBolsa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>relatorioEdital</servlet-name>
        <url-pattern>/relatorioEdital</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>relatorioFormulario</servlet-name>
        <url-pattern>/relatorioFormulario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>relatorioFuncionarioEdital</servlet-name>
        <url-pattern>/relatorioFuncionarioEdital</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>relatorioFuncionario</servlet-name>
        <url-pattern>/relatorioFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>relatorioFuncionarioCurso</servlet-name>
        <url-pattern>/relatorioFuncionarioCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>relatorioCursoPar</servlet-name>
        <url-pattern>/relatorioCursoPar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaParametroCursoController</servlet-name>
        <url-pattern>/PesquisaParametroCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioAgrupamentoCursoFuncController</servlet-name>
        <url-pattern>/RelatorioAgrupamentoCursoFuncController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>
            404
        </error-code>
        <location>
            /TratamentoExcecao
        </location>
    </error-page>
    <error-page>
        <exception-type>
            java.lang.Exception
        </exception-type>
        <location>
            /TratamentoExcecao
        </location>
    </error-page>
</web-app>
